[submodule "google-translate"]
	path = google-translate
	url = https://github.com/poemdistance/google-translate
[submodule "baidu-translate"]
	path = baidu-translate
	url = https://github.com/poemdistance/baidu-translate
[submodule "bar1"]
	branch = master
