test/
quickSearch/
src/*.o
src/mstran
src/stran
src/.vscode
src/newWindow.c.bak
src/separateData.c.bak
google-translate/Google_translate.egg-info
google-translate/build
google-translate/translate/package/Translator.py
google-translate/translate/package/getTK.py
google-translate/translate/package/tranen.py
google-translate/translate/package/tranpic.py
data/error.log
src/tags
src/updateTran
src/overview.c
src/test*
./google-translate/files.txt
./BingTran/files.txt
./baidu-translate/files.txt
src/CommonSrc/obj/*
src/Main/bin/*
src/Main/obj/*
src/Monitor/bin/*
src/Monitor/obj/*
src/Settings/obj/*
src/lib/*
