[Desktop Entry]
Name=Mstran
Comment=The Monitor of ScreenTranslation
Exec=/home/$USER/.stran/startup.sh
Icon=/home/$USER/.stran/tran.png
Type=Application
Terminal=false
Categories=GTK;GNOME;
