[Desktop Entry]
Name=Mstran
Comment=The Monitor of ScreenTranslation
Exec=/home/rease/.stran/startup.sh
Encodeing=UTF-8
Icon=/home/rease/.stran/tran.png
Type=Application
Terminal=false
Categories=GTK;GNOME;
