[Desktop Entry]
Name=Mstran
Comment=The Monitor of ScreenTranslation
Exec=~/.stran/startup.sh
Icon=~/.stran/tran.png
Type=Application
Terminal=false
Categories=GTK;GNOME;
